<div [ngClass]="(content.info.client_id) ? 'card connect' : 'card disconnect'">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title>{{ content.d.myName }}</md-card-title>
    </md-card-header>
    <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
    <md-card-content>
      <div class="col s4">
        <!-- ip key -->
        <p class="detailFont"><b>ip:</b></p>
        <!-- heap key -->
        <p class="detailFont"><b>heap:</b></p>
        <!-- run time key -->
        <p class="detailFont"><b>run time:</b></p>
        <!-- prefix key -->
        <p class="detailFont"><b>prefix:</b></p>
      </div>

      <div class="col s8">
        <!-- ip value -->
        <p class="detailFont">{{ content.info.ip }}</p>
        <!-- heap value -->
        <p class="detailFont">{{ content.d.heap/1000 }} kB</p>
        <!-- run time value -->
        <p class="detailFont">{{ ((content.d.millis/1000*24)/(86400)).toFixed(5) }} hours</p>
        <!-- prefix value -->
        <p class="detailFont">{{ content.info.prefix }}{{ content.info.device_id || content.d.device_id }}/status</p>
      </div>

    </md-card-content>

    <md-card-actions align="right">
      <button md-button (click)="showDetail(content)">MORE INFO</button>
    </md-card-actions>

  </md-card>
</div>

