.card {
  max-width: 350px;
}

.row {
  margin: 0 5px 5px 5px;
}

.homeHeader {
  text-align: center;
  height: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* card status color */
.connect {
  background: palegreen;
  padding: 12px;
}

.disconnect {
  background: orange;
  padding: 12px;
}

.card-content {
  padding: 5px;
}

.text-darken-4 {
  border-radius: 5px;
  text-align: center;
}

/* btn more detail */
.detailBtn {
  text-align: right;
  padding: 0 24px 10px 24px;
}

.detaliIcon {
  text-align: right;
}

.deviceName {
  color: gray;
}

.deviceFont {
  text-align: center;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.showDetailBtnConnect {
  background-color: white;
  color: green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showDetailBtnDisConnect {
  background-color: white;
  color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* font style */
.deviceName {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

p.detailFont {
  margin-bottom: 9px;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

