.rowMain{
  margin: 20px;
}
.row{
  margin: 0 5px 5px 5px;
}
.homeHeader{
  margin-top: 0px;
  text-align: center;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* filter selection */
.mat-primary{
  border-radius: 2px;
  margin: 0 10px 0 30px;
}

/* search input box */
#md-input-1{
  margin: auto;
  border: 0;
  height: 20px;
}


