.rowMain{
  margin: 20px;
}
.row{
  margin: 0 5px 5px 5px;
}
.autoCP{
}
.fillDevice{
  height: 67px;
  padding-top: 18px;
}
.headerNav{
  display: flex;
  float: right;
  margin-right: 20px;
}
div.homeHeader{
  margin-top: 0px;
  padding-top: 7px;
  text-align: center;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* filter selection */
.mat-primary{
  border-radius: 2px;
  margin: 0 10px 0 30px;
}

/* search input box */
#md-input-1{
  margin: auto;
  border: 0;
  height: 20px;
}

.configIcon{
  margin: auto 15px;
}

.material-icons{
  color: gray;
}
.material-icons:hover{
  color: #009F90;
  cursor: pointer;
}
