
 <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>


<div class="row rowMain">
  <div class="col m4 l3" *ngFor="let device of deveces">
    <div class="card {{device.status}} ">
        <div class="card-content">
          <div class="row">
            <div class="col s9 deviceName">
              <p>{{device.deviceName}}</p>
            </div>
            <div class="col s3 detaliIcon">
              <button
                (click)="showDetail()"
                md-icon-button
                *ngIf="device.status=='connect'"
                class="btn tooltipped showDetailBtnConnect"
                data-position="bottom"
                data-delay="50"
                data-tooltip="Show More Detail">
                <md-icon>more</md-icon></button>
              <button
                md-icon-button
                *ngIf="device.status=='disconnect'"
                class="btn tooltipped showDetailBtnDisConnect"
                data-position="bottom" data-delay="50"
                data-tooltip="Connection Fail">
                 <md-icon>error</md-icon></button>

            </div>
          </div>
          <!-- <span class="card-title activator grey-text text-darken-4">More Detail<i class="material-icons right">more_vert</i></span> -->
          <div class="row">
            <div class="col s4">
              <p class="detailFont"><b>ip:</b></p>
              <p class="detailFont"><b>heap:</b></p>
              <p class="detailFont"><b>run time:</b></p>
              <p class="detailFont"><b>prefix:</b></p>
            </div>
            <div class="col s8">
              <p class="detailFont">192.168.1.200</p>
              <p class="detailFont">40.096 kB</p>
              <p class="detailFont">10.73828 H</p>
              <p class="detailFont">CMMC/232386/status</p>
            </div>
          </div>

           <!-- <button md-icon-button><md-icon>more_vert</md-icon></button> -->
          <!-- <button md-button class="detailBtn">More Detail</button> -->
        </div>

  </div>
 </div>


</div>
