.dialogHeader{
  margin: 0px;
}
.dialogTitleName{
  text-align: center;
  color: gray;
}
.mat-dialog-title{
  margin: 0px;
}
.dialogBtnClose{
  padding: 0px;
  text-align: right;
}
button{
  background-color: #ff6666;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.BgColorDetial{
  margin: 10px 0;
  padding: 0 2px 0 2px;
  color: grey;
  background-color: hsla(0, 100%, 70%, 0.3);
}
.BgNoColorDetial{
  margin: 10px 0;
}
.col.s5{
  padding-right: 0px;
}
.col.s7{
  padding-left: 0px;
}
