<div class="row dialogHeader">
  <div class="col s11 dialogTitleName">
      <h2 md-dialog-title>Device Name</h2>
  </div>
  <div class="col s1">
    <md-dialog-actions class="dialogBtnClose">
          <button
            md-icon-button
            [md-dialog-close]="true">
            <md-icon>close</md-icon></button>
    </md-dialog-actions>
  </div>
</div>

<md-dialog-content>
  <div class="row">
    <div class="col s6">
        <div class="col s5">
          <p  class="BgNoColorDetial"><b>Status:   </b></p>
          <p class="BgColorDetial">   <b>Mac:      </b></p>
          <p class="BgNoColorDetial"> <b>Ip:       </b></p>
          <p class="BgColorDetial">   <b>Sdk:      </b></p>
          <p class="BgNoColorDetial"> <b>Millis:   </b></p>
          <p class="BgColorDetial">   <b>Value:    </b></p>
          <p class="BgNoColorDetial"> <b>Device id:</b></p>
          <p class="BgColorDetial">   <b>Heap:     </b></p>
          <p class="BgNoColorDetial"> <b>Rssi:     </b></p>
          <p class="BgColorDetial">   <b>Counter:  </b></p>
          <p class="BgNoColorDetial"> <b>Subscribe:</b></p>
        </div>
        <div class="col s7">
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">dafji:fkadsj:kasj</p>
          <p class="BgNoColorDetial">192.168.3.200  </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
        </div>
    </div>
    <div class="col s6">
        <div class="col s5">
          <p  class="BgNoColorDetial"><b>Status:   </b></p>
          <p class="BgColorDetial">   <b>Mac:      </b></p>
          <p class="BgNoColorDetial"> <b>Ip:       </b></p>
          <p class="BgColorDetial">   <b>Sdk:      </b></p>
          <p class="BgNoColorDetial"> <b>Millis:   </b></p>
          <p class="BgColorDetial">   <b>Value:    </b></p>
          <p class="BgNoColorDetial"> <b>Device id:</b></p>
          <p class="BgColorDetial">   <b>Heap:     </b></p>
          <p class="BgNoColorDetial"> <b>Rssi:     </b></p>
          <p class="BgColorDetial">   <b>Counter:  </b></p>
          <p class="BgNoColorDetial"> <b>Subscribe:</b></p>
        </div>
        <div class="col s7">
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">dafji:fkadsj:kasj</p>
          <p class="BgNoColorDetial">192.168.3.200  </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
          <p class="BgColorDetial">connect          </p>
          <p class="BgNoColorDetial">connect        </p>
        </div>
    </div>
  </div>
</md-dialog-content>

