<div class="row dialogHeader">
  <div class="col s11 dialogTitleName">
      <h2 md-dialog-title>{{ device.d.myName }}</h2>
  </div>

  <div class="col s1">
    <md-dialog-actions class="dialogBtnClose">
      <button
        md-icon-button
        [md-dialog-close]="true">
        <md-icon>close</md-icon>
      </button>
    </md-dialog-actions>
  </div>

</div>

<md-dialog-content>
  <!-- <div class="row">
    <div class="col s6">
      <p  class="dialogTitle">info</p>
        <div class="col s5">
          <p class="BgColorDetial" *ngFor="let infoKey of infoKeys()" ><b>{{infoKey}}:</b></p>
        </div>
        <div class="col s7">
          <p class="BgColorDetial" *ngFor="let infoKey of infoKeys()">{{ device.info[infoKey] }}</p>
        </div>
    </div>
    <div class="col s6">
      <p  class="dialogTitle">d</p>
        <div class="col s7">
          <p class="BgColorDetial" *ngFor="let dKey of dKeys()"><b>{{dKey}}:</b></p>
        </div>
        <div class="col s4">
          <p class="BgColorDetial" *ngFor="let dKey of dKeys()">{{ device.d[dKey] }}</p>
        </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col l6">
      <table class="highlight">
        <thead>
          <tr>
            <th> info_key </th>
            <th> info_value </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let Key of infoKeys()" >
            <td><b> {{ Key }}: </b></td>
            <td> {{ device.info[Key] }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col l6">
      <table class="highlight">
        <thead>
          <tr>
            <th> d_key </th>
            <th> d_value </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let Key of dKeys()" >
            <td><b> {{ Key }}: </b></td>
            <td> {{ device.d[Key] }} </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</md-dialog-content>

