<div class="example-sidenav-content">
  <nav>
    <div class="nav-wrapper">

      <!-- logo and websit name -->
      <a href="#!" class="brand-logo center">
        <i class="large material-icons">blur_on</i>cmmc-device
      </a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="">Home</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">FQA</a></li>
          <li><a href="">About Us</a></li>
        </ul>

      <ul class="right hide-on-med-and-down">
        <!-- btn refresh -->
        <li (click)="refresh()">
          <a>
            <i class="material-icons">refresh</i>
          </a>
        </li>

        <!-- btn settings -->
        <li (click)="btnSettingsClick()">
          <a>
            <i class="material-icons">settings</i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>


