<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">

      <!-- logo and websit name -->
      <a href="#!" class="brand-logo center">
        <i class="large material-icons">blur_on</i>cmmc-devices
      </a>

      <!--<ul id="nav-mobile" class="left hide-on-med-and-down">-->
      <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a-->
      <!--[routerLink]="['/home']">Home</a></li>-->
      <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a-->
      <!--[routerLink]="['/help']">Help</a></li>-->
      <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/about']">About-->
      <!--Us</a></li>-->
      <!--</ul>-->

      <ul class="right hide-on-med-and-down">
      <!-- btn refresh -->
      <li (click)="refresh()">
        <a>
          <i class="material-icons">refresh</i>
        </a>
      </li>

      <!-- btn settings -->
      <li (click)="btnSettingsClick()">
        <a>
          <i class="material-icons">settings</i>
        </a>
      </li>
    </ul>

    </div>
  </nav>
</div>


