<div class="example-sidenav-content">
  <nav>
    <div class="nav-wrapper">

      <!-- logo and websit name -->
      <a href="#!" class="brand-logo">
        <i class="large material-icons">blur_on</i>cmmc-device
      </a>

      <ul class="right hide-on-med-and-down">
        <!-- btn refresh -->
        <li>
          <a>
            <i class="material-icons">refresh</i>
          </a>
        </li>

        <!-- btn settings -->
        <li (click)="btnSettingsClick()">
          <a>
            <i class="material-icons">settings</i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>


