md-sidenav {
  width: 35%;
  background-color: white;
}

html, body, material-app, md-sidenav-container, .my-content {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}
a.btn.tooltipped{
  background-color: rgba(0, 0, 0, 0);
  box-shadow:0;
}
.mat-primary{
  background-color: white;
  border-radius: 2px;
  margin: 0 10px 0 10px;
}

.nav-wrapper{
  background-color: #009F90;
}

.searchBox{
  width: 10%;
}

ul.right.hide-on-med-and-down{
  margin-right: 20px;
}

.brand-logo{
  margin-left: 20px;
}

ul.left.hide-on-med-and-down{
  margin-left: 20px;
}
